@model IEnumerable<Transacao>
@{
    ViewData["Title"] = "Detalhes";
}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <td>Data do Pagamento</td>
                <td>Data</td>
                <td>Descricao</td>
                <td>Valor</td>
                <td>Categoria</td>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.DataCompensacao.ToString("dd/MM/yyyy")</td>
                <td> @item.Data.ToString("dd/MM/yyyy")</td>
                <td> @item.Descricao</td>
                <td> R$ @item.Valor</td>
                <td> @item.Categoria</td>
            </tr>
        }
        </tbody>
    </table>
</div>